* {
  border: none;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(17, 17, 17, 0.8);
}

#workspaces {
  /*color: #dad2bc;*/
  /*color: #f5f1ed;*/
}

#workspaces button.active {
  color: #f5f1ed;
}

#workspaces button {
  color: #dad2bc;
}

#cpu {
  margin-right: 8px;
}

#memory {
  margin-right: 8px;
}

#battery {
  margin-right: 8px;

}

#hardware {
  padding: 0 10px;
}
